table{
    /*border: 0px solid black;*/
    width:50%;

}


td {
    /*border: 0px solid black;*/
    vertical-align: middle;
    text-align: center;

}

td.fuckyou{
    text-align: left
}
/*
p.normal {
    font-style: normal;
}

h3.normal
{
    font-style: normal;
    vertical-align: middle;

}*/
